<hr class="bg-warning"><h2>Cohorts</h2><hr class="bg-warning">

<table class="table table-hover table-striped">
  <thead>
    <tr class="tb-header">
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th>
        Start Date
      </th>
      <th>
        End Date
      </th>
      <th>
        Instructor
      </th>
      <th>
        
      </th>
      <th>
       
      </th>
      <th>
        
      </th>
      <th>
        <button class="btn btn-sm btn-warning"><%= link_to 'Add New', new_cohort_path(@cohorts) %>
        </button>
      </th>
    </tr>
  </thead>
  
  <tbody>
  <%= render partial: "cohort", locals: {cohorts: @cohorts} %>
  </tbody>
</table>