<h2>Cohorts</h2>

<table class="table table-hover table-striped">
  <thead>
    <tr class="tb-header">
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th>
        Start Date
      </th>
      <th>
        End Date
      </th>
      <th>
        Instructor
      </th>
      <th>
        
      </th>
      <th>
       
      </th>
      <th>
        
      </th>
    </tr>
  </thead>
  <tbody>
   <%= render @cohorts %>
  </tbody>
</table>