
<div class="jumbotron">
  <h2>
    Welcome to Hunter School of Web Design
  </h2>
  <p>
   <% if admin_types.include?(current_user.try(:type)) %>
    <%= render "admin" %>
   <%# <% elsif truevalue %> %>
    <%# <%= render 'cohorts' %> %>
    <% else %>
      <%= render "students" %>
   <% end %>

  </p>
</div>
