<hr class="bg-warning"><h2>Courses</h2><hr class="bg-warning">

<table class="table table-hover table-striped">
  <thead>
    <tr class="tb-header">
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th>
        Hours
      </th>
      <th>
        Created on
      </th>
      <th>
        
      </th>
      <th>
     
      </th>
      <th>
        <button class="btn btn-sm btn-warning"><%= link_to 'Add New', new_course_path(@courses) %>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "course", locals: {courses: @courses} %>
  </tbody>
</table>
