<h2>Courses</h2>  

<table class="table table-hover table-striped">
  <thead>
    <tr class="tb-header">
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th>
        Hours
      </th>
      <th>
        Created on
      </th>
      <th>
        Cohorts
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "course", locals: {courses: @courses} %>
  </tbody>
</table>
