<div>
  <h2><%= @course.name %></h2>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr class="tb-header">
      <th>
        Course:
      </th>
      <th>
        Hours:
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
    <hr>
  </thead>
  <tbody>
    <%= render partial: "show", locals: {courses: @courses} %>
  </tbody>
</table>
