<div>
  <h2><%= @course.name %></h2>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Course Name:
      </th>
      <th>
        Hours:
      </th>
      <th>
        Cohorts:
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "show", locals: {courses: @courses} %>
  </tbody>
</table>
