@import "bootstrap-sprockets";
@import "bootstrap";
@import "cohorts.css";
@import "cources.css";

.custom-nav {
  background-color: rgb(95, 29, 95);
  color: white;
  margin-top: 75px;
  font-size: 1em;
}