@import "bootstrap";
@import "cohorts.css";
@import "courses.css";
@import "gritter";
@import "bourbon";
@import "bootstrap/glyphicons";

body {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 1.2em;
}

h1 {
  font-family: 'Oleo Script', cursive;
  font-size: 2.2em;
  text-align: center;
}

h2 {
  text-align: center;
}

.custom-nav {
  background-color: rgb(89, 50, 133);
  color: white;
  text-decoration: none;
  margin-top: 25px;
  font-size: 0.8em;
}

.custom-nav:hover {
  background-color: rgb(71, 39, 107);
}

.nav-li {
  margin: 0.5em;
  padding: 0.5em;
}

.index-icons {
  font-size: 1.2em;
  color: rgb(228, 149, 31);
}

.index-icons:hover {
  text-decoration: none;
  color: rgb(89, 50, 133);
}

.cohort-icons {
  color: rgb(228, 149, 31);
}

.cohort-icons:hover {
  color: white;
}


a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgb(71, 39, 107);
}

.photo {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1.2em;
}

.profile-info {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgb(89, 50, 133);
  color: white;
  margin: 10px;
  padding: 5px 5px 5px 25px;
}

.profile-info:hover {
  background-color: rgb(71, 39, 107);
}

.tb-header {
  background-color: rgb(89, 50, 133);
  color: white;
}